{% extends 'index.html' %}

{% block title_block %}
    Add Record
{% endblock %}

{% block script_block %}
    <script>
        $(document).ready(function () {
            $uname = "{{ user.username }}";
            $('#id_user').val($uname);

            $('#id_profit_loss_per_stock').click(function () {
                if ($('#id_entry').val() == 0.0) {
                    $('#id_entry').focus();
                } else if ($('#id_exit').val() == 0.0) {
                    $('#id_exit').focus();
                } else {

                    $exit = $('#id_exit').val();
                    $entry = $('#id_entry').val();
                    $diff = $exit - $entry;
                    $('#id_profit_loss_per_stock').val($diff);
                }
            });

            $('#id_profile').click(function () {
                if ($('#id_portfolio').val() == 0.0) {
                    $('#id_portfolio').focus();
                }
                else if ($('#id_entry').val() == 0.0) {
                    $('#id_entry').focus();
                }
                else if ($('#id_exit').val() == 0.0) {
                    $('#id_exit').focus();

                }
                else if($('#id_profit_loss_per_stock').val()==0.0){
                    $('#id_profit_loss_per_stock').focus();

                }
                else if($('#id_quantity').val()==0.0){
                    $('#id_quantity').focus();
                }
                else {
                    $portf=parseFloat($('#id_portfolio').val());
                    $exit = parseFloat($('#id_exit').val());
                    $entry = parseFloat($('#id_entry').val());
                    $diff = parseFloat($exit - $entry);
                    $quant=parseFloat($('#id_quantity').val());
                    $('#id_profile').val($portf+($quant*$diff));
                }

            });

        });


    </script>
{% endblock %}

{% block nav_block %}
    <a class="nav-link" aria-current="page" href="{% url 'tradehelper:tradecalculatorform' %}">TradeCalculator</a>
    <a class="nav-link active" href="{% url 'traderecord:add_record_form' %}">AddRecords</a>
    <a class="nav-link" href="{% url 'traderecord:display' %}">ViewRecords</a>
    {% if request.user.is_authenticated %}
        <li class="nav-item dropdown end-0">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">{{ user.username }}</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li><a class="dropdown-item" href="#">Change Username</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'userinfo:logout' %}">Logout</a></li>
            </ul>
        </li>
    {% else %}
        <a class="nav-link" href="{% url 'userinfo:registration' %}">Register</a>
        <a class="nav-link" href="{% url 'userinfo:login' %}">Login</a>
    {% endif %}
{% endblock %}

{% block body_block %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}


        <input class="btn btn-primary" type="submit">
    </form>

{% endblock %}